<h1>Lista de articulos</h1>
<hr/>
Se muestra una lista de los articulos<br/>
<button type="button" class="btn btn-outline-dark btn-block" data-toggle="collapse" data-target="#ord">Ordenamientos</button>
<div id="ord" class="collapse in">
<ul>
    
    <li><a href="/articulo/selection-sort">Selection sort</a></li>
    <li><a href="/articulo/insertion-sort">Insertion sort</a></li>
    <li><a href="/articulo/bubble-sort">Ordenamiento burbuja</a></li>  
    <li><a href="/articulo/merge-sort">Ordenamiento por mezcla</a></li>  
  </ul>
</div>
<button type="button" class="btn btn-outline-dark btn-block" data-toggle="collapse" data-target="#bus">Busquedas</button>
<div id="bus" class="collapse">
<ul>
    <li><a href="/articulo/busqueda-binaria">Busqueda binaria</a></li>
  </ul>
</div>

<button type="button" class="btn btn-outline-dark btn-block" data-toggle="collapse" data-target="#dat">Esctructuras de datos</button>
<div id="dat" class="collapse">
<ul>
    <li><a href="/articulo/segment-tree">Segment tree</a>
      <ul>
        <li><a href="/articulo/lazy-propagation">Lazy Propagation</a></li>
      </ul>
    </li>
  </ul>
</div>


    