<html>
<head>
   

<style>
    .field {
        width: 100%;
        height: 25px;
        
    }
    .Container {
        
        box-shadow: 0px 0px 3px #5a5a5a;
        margin: 10px;
        padding: 10px;
        border-radius:7px;
        background-color: #FAFAFA;
        width:31%;
    }
    body{
        background-color: #F2F2F2;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  body {
    background-color: #FAFAFA;
  }
  .Container {
    
  box-shadow: 0px 0px 0px #5a5a5a;
  margin: 0px;
  padding: 5px;
  background-color: #FAFAFA;
  }
  .row.content {height:auto;} 
}


</style>
 <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>

      <script  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<center>
 <div class="Container">
     <h1>Iniciar sesion</h1>
       <br/>
       <input type="text" placeholder="Usuario" class="field" id="user">
       <br/>
       <br/>
       <input type="password" placeholder="Contraseña" class="field" id="password">
       <br>
       <br/>
       <div style="text-align:left " >
            <button class="btn-primary" id="loginBTN">Iniciar sesion</button>
        </div>
    </div>
</center>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBgJ53fGm0ADFXwsxlUCbgd_dt2xQ4hTlY",
    authDomain: "kcoderguide.firebaseapp.com",
    databaseURL: "https://kcoderguide.firebaseio.com",
    projectId: "kcoderguide",
    storageBucket: "kcoderguide.appspot.com",
    messagingSenderId: "952044042126"
  };
  firebase.initializeApp(config);

  firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
 
 const btnLogin = document.getElementById('loginBTN');
 const userInp = document.getElementById('user');
 const passInp = document.getElementById('password');

function parseJwt (token) {
    var base64Url = token.split('.')[1];
    var base64 = base64Url.replace('-', '+').replace('_', '/');
    return JSON.parse(window.atob(base64));
};

 btnLogin.addEventListener('click',e=>{
    var Email = userInp.value;
    var Password = passInp.value;    
    // When the user signs in with email and password.
    firebase.auth().signInWithEmailAndPassword(Email, Password).then(user => {
    // Get the user's ID token as it is needed to exchange for a session cookie.
    return user.user.getIdToken().then(idToken => {
        // Session login endpoint is queried and the session cookie is set.
        // CSRF protection should be taken into account.
        // ...
        const csrfToken = 'pueblo_paleta'
        return $.post('/admin/sessionLogin', new URLSearchParams( {'idToken':idToken, 'csrfToken':csrfToken}).toString());
    });
    }).then(() => {
    // A page redirect would suffice as the persistence is set to NONE.
    return firebase.auth().signOut();
    }).then(() => {
    window.location.assign('/admin/articles');
    }).catch(e=>console.log("Error log in"+e));
        
});


  
</script>


    <script  src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

   </body>
   </html>