<h1>Gracias por tu retroalimentación</h1>
Muchas gracias por ayudarnos a mejorar.<br>
<b>Articulo</b> {{article}}
<br>
<b>Entendimiento</b> {{facilidad}}
<br>
<b>Sugerencias</b> <pre  style="padding-left:50px">{{sugerencias}}</pre>